#
**.idea
**.fdb_latexmk
**.xml
**.toc
**.aux
**.nav
**.snm
**.gz
**.vrb
**.out
**.hid
**.bcf
**.bbl
**.blg
**.fls

**.html
**.jpg

**.log
**.log.*

**__pycache__
results
outputs
run_log
challenge/bash_scripts
logs
